.title {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.keys {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.key {
  text-align: center;
  height: 55px;
  width: 55px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 10px;
  transition: .07s;
}

.playing {
  transform: scale(1.2);
  border-color: #4af2a1;
  box-shadow: 0 0 10px #4af2a1;
}

kbd {
  display: block;
  font-size: 25px;
  padding-top: 4px;
}

.sound {
  font-size: 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
